body {
  background-color: grey;
  font-size: 30px;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #444;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 10px;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: darkblue;
  text-align: center;
}
header {
  background-color: rgb(217, 189, 243);
}
.br {
  height: max-content;
  border: 3px solid transparent;
}
.br:hover {
  border: 3px solid darkblue;
  border-radius: 3%;
}

.pic {
  border: 3px solid black;
  background-image: url("../images/BaconGallupPark.jpg");
  height: 150px; /* Adjust height */
  width: 130px; /* Make it full width */
  background-size: cover;
  background-position: center;
  margin: 2px;
  padding: 2px;
}
main {
  background-color: rgb(233, 248, 16);
}
p {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

nav {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  justify-content: center;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
}
footer {
  background-color: rgb(217, 189, 243);
}
